{% extends 'home.html' %}
{% block content %}
<h4>Here are you Appointment</h4>
    <a href='{% url 'add' %}'>add new appointment</a>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for cita in citas %}
             <tr>
                    <td>{{cita.task}}</td>
                    <td>{{cita.date}}</td>
                    <td>{{cita.status}}</td>
                    {% if cita.status != 'Done' %}
                        <td>
                            <a href="#">edit</a>
                            <a href="#">delete</a>
                        </td>

                    {% endif %}
                    
                </tr>
            
            {% endfor %}
               
            </tbody>
        </table>

    </div>
    
    <div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Date</th>
                    
                </tr>
            </thead>
            <tbody>

            <tr>
                {% for cita in citaspasadas %}
                    <td>{{ cita.task }}</td>
                    <td>{{ cita.date }}</td>
                {% empty %}
                    <td>No tienes ninguna cita anterior</td>
                {% endfor %}
            </tr>            
            </tbody>
        </table>
    </div>



{% endblock %}
    
